<div class = "container">
            <div class="row">
                <div class="col-xs-12">
                   
                         
                         <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for= "name">Name</label>
                                    <input type="text"
                                           id="name"
                                           class="form-control">
                                </div>
                            </div>
                         </div><br><br><br>
                         
                         <div class="row">
                            <div class="col-xs-12">
                              <div
                                class="btn-group"
                                appdropdown>
                                <button
                                  type="button"
                                  class="btn btn-primary dropdown-toggle">
                                 department 
                                </button>
                                <ul class="dropdown-menu">
                                  <li><a href="#">CSE</a></li>
                                  <li><a href="#">ECE</a></li>
                                  <li><a href="#">Civil</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <form><br><br>
                            <input type="checkbox">
                            <label >60%-70%</label><br>
                            <input type="checkbox">
                            <label >70%-80%</label><br>
                            <input type="checkbox">
                            <label >80%-90%</label><br>
                          </form>
                            
                          
                          
                        
                    
                </div>
            </div>
            
                                               

</div>

